{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

	<!--/breadcrumbs -->
	<div class="w3l-breadcrumbs">
		<nav id="breadcrumbs" class="breadcrumbs">
			<div class="container page-wrapper">
			<a href="{% url 'index' %}">{% trans 'Início' %}</a> » <span class="breadcrumb_last" aria-current="page">{% trans 'Sobre' %}</span>
			</div>
		</nav>
	</div>
 	<!--//breadcrumbs -->

	<!-- /about-->
	<div class="w3l-ab-grids py-5">
		<div class="container py-lg-4">
			<div class="row ab-grids-sec align-items-center">
				<div class="col-lg-6 ab-right">
					<img class="img-fluid" src="{% static 'images/banner1.jpg' %}">
				</div>
				<div class="col-lg-6 ab-left pl-lg-4 mt-lg-0 mt-5">
					<h3 class="hny-title">{% trans 'O melhor do Entretenimento' %}</h3>
					<p class="mt-3">{% trans 'Todos os filmes do mundo em um só lugar. De premiados antigos a lançamentos recentes, confira tudo só aqui no ESW Cinema.' %}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //about-->

	<!-- Start Achivement Area -->
		<section class="w3l-team" id="team">
			<div class="grids-main py-5">
				<div class="container py-lg-4">
					<h1 id="chart-title">{% trans 'O que há por aqui' %}</h1>
					<div class="row">
						<canvas id="grafico-filmes" height="50"></canvas>
					</div>
				</div>
			</div>
		</section>
	<!-- End Achivement Area -->
	{% bootstrap_javascript jquery='full' %}


	<!--/testimonials-->
		<section class="w3l-clients" id="clients">
			<!-- /grids -->
			<div class="cusrtomer-layout py-5">
				<div class="container py-lg-4">
					<div class="headerhny-title">
						<h3 class="hny-title">{% trans 'Avaliações' %}</h3>
					</div>
					<!-- /grids -->
					<div class="testimonial-width">
						<div class="owl-clients owl-carousel owl-theme mb-lg-5">
							<div class="item">
								<div class="testimonial-content">
									<div class="testimonial">
										<blockquote>
											<q>{% trans 'É o melhor site para conferir os novos lançamentos do Cinema! Não precisar ficar pesquisando filmes na internet é uma grande economia de tempo.' %}</q>
										</blockquote>
										<div class="testi-des">
											<div class="test-img"><img src="{% static 'images/team1.jpg' %}" class="img-fluid" alt="/">
											</div>
											<div class="peopl align-self">
												<h3>Alessandra Martins</h3>
												<p class="indentity">Curitiba</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-content">
									<div class="testimonial">
										<blockquote>
											<q>{% trans 'Agora fico atualizado sobre os novos filmes do cinema. O ESW Cinema é um verdadeiro facilitador.' %}</q>
										</blockquote>
										<div class="testi-des">
											<div class="test-img"><img src="{% static 'images/team2.jpg' %}" class="img-fluid" alt="/">
											</div>
											<div class="peopl align-self">
												<h3>Felipe Gonçalves</h3>
												<p class="indentity">São Paulo</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimonial-content">
									<div class="testimonial">
										<blockquote>
											<q>{% trans 'O mais legal é que existem filmes para todos os gostos e idades. Agora sei quais filmes posso assistir com minhas filhas.' %}</q>
										</blockquote>
										<div class="testi-des">
											<div class="test-img"><img src="{% static 'images/team3.jpg' %}" class="img-fluid" alt="/">
											</div>
											<div class="peopl align-self">
												<h3>Bruna Silva</h3>
												<p class="indentity">Fortaleza</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /grids -->
			</div>
			<!-- //grids -->
		</section>
	<!--//testimonials-->

	<!--grids-sec1-->
		<section class="w3l-grids">
			<div class="grids-main py-5">
				<div class="container py-lg-3">
					<div class="headerhny-title">
						<div class="w3l-title-grids">
							<div class="headerhny-left">
								<h3 class="hny-title">{% trans 'Lançamentos' %}</h3>
							</div>
							<div class="headerhny-right text-lg-right">
								<h4><a class="show-title" href="{% url 'relatorio-filmes' %}" target="_blank">{% trans 'Baixar Relatório' %}</a></h4>
							</div>
						</div>
					</div>
					<div class="owl-three owl-carousel owl-theme">
						{% for lancamento in lancamentos %}
							<div class="item vhny-grid">
								<div class="box16 mb-0">
									<a href="{% url 'filme-detalhe' id=lancamento.id %}">
										<figure>
											<img class="img-fluid" src="{{ lancamento.cartaz.thumb.url }}" alt="">
										</figure>
										<div class="box-content">
											<h4> <span class="post"><span class="fa fa-clock-o"> </span>{{ lancamento.duracao }}

												</span>

												<span class="post fa fa-heart text-right"></span>
											</h4>
										</div>
										<span class="fa fa-play video-icon" aria-hidden="true"></span>
									</a>
								</div>
								<h3> <a class="title-gd" href="{% url 'filme-detalhe' id=lancamento.id %}">{{ lancamento.titulo }}</a></h3>
								<p> </p>
								<div class="button-center text-center mt-4">
									<a href="{{ lancamento.trailer }}" class="btn watch-button">Trailer</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	<!--grids-sec1-->

	<!-- JavaScript -->
		<!-- Start Achivement Area -->
			<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>

			<script type="text/javascript">
				$.get('{% url "dados-grafico-filmes" %}', function(dados){
				  var ctx = $("#grafico-filmes").get(0).getContext("2d");
				  rotulos = dados['labels']
				  valores = dados['datasets'][0]['data']

				  new Chart(ctx, {
					  type: 'doughnut',
					  data: {
						  labels: rotulos,
						  datasets: [{
							  data: valores,
							  backgroundColor: [
								  'rgba(153, 102, 255, 0.9)',
								  'rgba(255, 206, 86, 0.9)',
								  'rgba(255, 159, 64, 0.9)',
								  'rgba(75, 192, 192, 0.9)',
								  'rgba(255, 99, 132, 0.9)',
								  'rgba(54, 162, 235, 0.9)',
							  ]
						  }]
					  }
				  });
				});
			</script>
		<!-- End Achivement Area -->

		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

		<!-- stats -->
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
		<!-- //stats -->

		<!--/theme-change-->
		<script src="{% static 'js/theme-change.js' %}"></script>
		<!-- //theme-change-->

		<script src="{% static 'js/owl.carousel.js' %}"></script>

		<!-- script for banner slider-->
		<script>
			$(document).ready(function () {
				$('.owl-team').owlCarousel({
					loop: true,
					margin: 20,
					nav: false,
					responsiveClass: true,
					autoplay: false,
					autoplayTimeout: 5000,
					autoplaySpeed: 1000,
					autoplayHoverPause: false,
					responsive: {
						0: {
							items:2,
							nav: false
						},
						480: {
							items: 2,
							nav: true
						},
						667: {
							items: 3,
							nav: true
						},
						1000: {
							items:4,
							nav: true
						}
					}
				})
			})
		</script>
		<script>
			$(document).ready(function () {
				$('.owl-three').owlCarousel({
					loop: true,
					margin: 20,
					nav: false,
					responsiveClass: true,
					autoplay:true,
					autoplayTimeout: 5000,
					autoplaySpeed: 1000,
					autoplayHoverPause: false,
					responsive: {
						0: {
							items: 2,
							nav: false
						},
						480: {
							items: 2,
							nav: true
						},
						667: {
							items: 3,
							nav: true
						},
						1000: {
							items: 6,
							nav: true
						}
					}
				})
			})
		</script>
		<!-- //script -->

		<!-- for tesimonials carousel slider -->
		<script>
			$(document).ready(function () {
				$(".owl-clients").owlCarousel({
					loop: true,
					margin:40,
					responsiveClass: true,
					responsive: {
						0: {
							items:1,
							nav: true
						},
						736: {
							items: 2,
							nav: false
						},
						1000: {
							items:3,
							nav: true,
							loop: false
						}
					}
				})
			})
		</script>
		<!-- //script -->

		<!-- script for owlcarousel -->
		<!-- disable body scroll which navbar is in active -->
		<script>
			$(function () {
				$('.navbar-toggler').click(function () {
					$('body').toggleClass('noscroll');
				})
			});
		</script>
		<!-- disable body scroll which navbar is in active -->

		<!--/MENU-JS-->
		<script>
			$(window).on("scroll", function () {
				var scroll = $(window).scrollTop();

				if (scroll >= 80) {
					$("#site-header").addClass("nav-fixed");
				} else {
					$("#site-header").removeClass("nav-fixed");
				}
			});

			//Main navigation Active Class Add Remove
			$(".navbar-toggler").on("click", function () {
				$("header").toggleClass("active");
			});
			$(document).on("ready", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
				$(window).on("resize", function () {
					if ($(window).width() > 991) {
						$("header").removeClass("active");
					}
				});
			});
		</script>
		<!--//MENU-JS-->

		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!--//JavaScript -->
{% endblock %}