{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>ESW Cinema</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<!-- header -->
	<header id="site-header" class="w3l-header fixed-top">
		<!--/nav-->
			{% include 'navbar.html' %}
		<!--//nav-->
	</header>
	<!-- //header -->

    {% block content %} {% endblock %}

    <!-- footer-66 -->
		{% include 'footer.html' %}
	<!--//footer-66 -->
</body>
</html>