{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% trans 'Relatório de Filmes' %}</title>
    <!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>

<body>
    <center>
        <img class="logo_esw" src="{% static 'images/logo_esw_cinema.png' %}">
        <h1 class="report-title">{% trans 'Relatório de Filmes (Lançamentos)' %}</h1>
    </center>
    <table class="table table-striped">
        <thead class="report-head">
        <tr>
            <th scope="col">{% trans 'Título do Filme' %}</th>
            <th scope="col">{% trans 'Gênero' %}</th>
            <th scope="col">{% trans 'Duração' %}</th>
            <th scope="col">{% trans 'Data de Estreia' %}</th>
        </tr>
        </thead>

        <tbody>
            {% for f in filmes %}
                <tr>
                    <th scope="row">{{ f.titulo }}</th>
                    <th scope="row">{{ f.genero }}</th>
                    <th scope="row">{{ f.duracao }}</th>
                    <th scope="row">{{ f.dataEstreia }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>